body {
  margin: 60;
  background-color: orange;
}


div{
 
 width: 50vh;
 height: 300px;
 border: 4px solid black;
 align-items: center;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}
.bjp{
 width: 100vh;
 height: 600px;

}
.Modi{
    
    text-align: center;
}